.nav-search{
    flex: 3;
}

.nav-operations {
    flex: 1;
}

.company-branding {
    text-align: center;
}
.company-logo{
    width: 80px;
}
.company-name {
    color: white;
    font-weight: 600;
}