.container {
    font-size: 16px;
}
.heading {
    font-size: 3em;
}
.topdiv {
    margin-top: 2em;
    display: flex;
    gap: 1em;
}
.top-info {
    flex: 2;
}
.list-title { 
    font-weight: bold;
}
.top-image {
    flex: 1;
}
.fuldose {
    padding: 1em;
    margin-top: 2rem;
    font-size: 1.5em;
}
.selling-points {
    margin-top: 2em;
}

@media only screen and (max-device-width: 480px){
    /* in mobile css commands */ 
    .topdiv {
        flex-direction: column-reverse;
    }
}


.gradient-border {
    --border-width: 3px;
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    color: black;
    background: white;
    border-radius: var(--border-width);    
}
.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }